In [1]:
import pandas as pd
import tensorflow as tf
from pathlib import Path
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv(Path("../data/housing_price_dataset.csv"))
df.head(10)

   SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
0        2126         4          1        Rural       1969  215355.283618
1        2459         3          2        Rural       1980  195014.221626
2        1860         2          1       Suburb       1970  306891.012076
3        2294         2          1        Urban       1996  206786.787153
4        2130         5          2       Suburb       2001  272436.239065
5        2095         2          3       Suburb       2020  198208.803907
6        2724         2          1       Suburb       1993  343429.319110
7        2044         4          3        Rural       1957  184992.321268
8        2638         4          3        Urban       1959  377998.588152
9        1121         5          2        Urban       2004   95961.926014

In [3]:
df.nunique()

SquareFeet       2000
Bedrooms            4
Bathrooms           3
Neighborhood        3
YearBuilt          72
Price           50000
dtype: int64

In [4]:
square_feet_vc = df["SquareFeet"].value_counts()
square_feet_vc

2486    43
1897    41
2946    40
2573    40
1398    40
        ..
1019    12
1635    12
2330    12
2087    11
1828    10
Name: SquareFeet, Length: 2000, dtype: int64

In [5]:
year_built_vc = df["YearBuilt"].value_counts()
year_built_vc

1968    777
1977    742
1983    741
1967    729
1999    728
       ...
1950    643
2016    642
2006    640
2012    638
2001    621
Name: YearBuilt, Length: 72, dtype: int64

In [6]:
neighborhood_vc = df["Neighborhood"].value_counts()
neighborhood_vc

Suburb    16721
Rural     16676
Urban     16603
Name: Neighborhood, dtype: int64

In [7]:
bedroom_vc = df["Bedrooms"].value_counts()
bedroom_vc

3    12661
5    12468
2    12436
4    12435
Name: Bedrooms, dtype: int64

In [8]:
bathroom_vc = df["Bathrooms"].value_counts()
bathroom_vc

1    16755
2    16719
3    16526
Name: Bathrooms, dtype: int64

In [9]:
full_df = pd.get_dummies(df)
full_df.head(10)

,SquareFeet,Bedrooms,Bathrooms,YearBuilt,Price,Neighborhood_Rural,Neighborhood_Suburb,Neighborhood_Urban
0,2126,4,1,1969,215355.283618,1,0,0
1,2459,3,2,1980,195014.221626,1,0,0
2,1860,2,1,1970,306891.012076,0,1,0
3,2294,2,1,1996,206786.787153,0,0,1
4,2130,5,2,2001,272436.239065,0,1,0
5,2095,2,3,2020,198208.803907,0,1,0
6,2724,2,1,1993,343429.319110,0,1,0
7,2044,4,3,1957,184992.321268,1,0,0
8,2638,4,3,1959,377998.588152,0,0,1
9,1121,5,2,2004,95961.926014,0,0,1

In [10]:
print("Features")
X = full_df.drop(["Price"], axis=1)
print(X.head(10))
y = full_df[["Price"]]
print("\nValues")
print(y)

Features
   SquareFeet  Bedrooms  Bathrooms  YearBuilt  Neighborhood_Rural  \
0        2126         4          1       1969                   1
1        2459         3          2       1980                   1
2        1860         2          1       1970                   0
3        2294         2          1       1996                   0
4        2130         5          2       2001                   0
5        2095         2          3       2020                   0
6        2724         2          1       1993                   0
7        2044         4          3       1957                   1
8        2638         4          3       1959                   0
9        1121         5          2       2004                   0

   Neighborhood_Suburb  Neighborhood_Urban
0                    0                   0
1                    0                   0
2                    1                   0
3                    0                   1
4                    1                   0
5                    1                   0
6                    1                   0
7                    0                   0
8                    0                   1
9                    0                   1

Values
               Price
0      215355.283618
1      195014.221626
2      306891.012076
3      206786.787153
4      272436.239065
...              ...
49995  100080.865895
49996  374507.656727
49997  384110.555590
49998  380512.685957
49999  221618.583218

[50000 rows x 1 columns]

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 50)
print(X_train)
print(y_train)

       SquareFeet  Bedrooms  Bathrooms  YearBuilt  Neighborhood_Rural  \
49236        2826         2          3       1976                   0
24779        2665         5          3       1985                   1
35795        2506         3          2       2010                   0
44754        2971         3          2       1969                   0
44356        1910         3          1       1958                   0
...           ...       ...        ...        ...                 ...
48417        1989         3          3       1965                   0
22637        2436         3          1       1987                   0
42891        2805         2          3       1982                   0
38368        1226         5          2       2016                   0
14000        2660         3          3       1996                   0

       Neighborhood_Suburb  Neighborhood_Urban
49236                    1                   0
24779                    0                   0
35795                    1                   0
44754                    0                   1
44356                    0                   1
...                    ...                 ...
48417                    0                   1
22637                    0                   1
42891                    0                   1
38368                    1                   0
14000                    1                   0

[37500 rows x 7 columns]
               Price
49236  248750.876619
24779  264573.720550
35795  185948.448699
44754  315257.425800
44356  244867.008658
...              ...
48417  252593.413095
22637  213546.377461
42891  293044.315267
38368  158194.535911
14000  275647.991794

[37500 rows x 1 columns]

In [12]:
nn = tf.keras.models.Sequential()

# model for the neural network
nn.add(tf.keras.layers.Dense(units=10, activation='relu', input_dim=len(X.columns)))

nn.add(tf.keras.layers.Dense(units=20, activation='relu'))

nn.add(tf.keras.layers.Dense(units=5, activation='relu'))

nn.add(tf.keras.layers.Dense(units=1, activation='relu'))

nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                80

 dense_1 (Dense)             (None, 20)                220

 dense_2 (Dense)             (None, 5)                 105

 dense_3 (Dense)             (None, 1)                 6

=================================================================
Total params: 411
Trainable params: 411
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile and fit the model
nn.compile(loss="msle", optimizer="adam", metrics=["msle"])

nn_fit = nn.fit(X_train, y_train, epochs=50)

Epoch 1/50
1172/1172 [==============================] - 4s 3ms/step - loss: 19.4050 - msle: 19.4050
Epoch 2/50
1172/1172 [==============================] - 3s 3ms/step - loss: 1.8826 - msle: 1.8826
Epoch 3/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.3690 - msle: 0.3690
Epoch 4/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1894 - msle: 0.1894
Epoch 5/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1793 - msle: 0.1793
Epoch 6/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1766 - msle: 0.1766
Epoch 7/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1722 - msle: 0.1722
Epoch 8/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1653 - msle: 0.1653
Epoch 9/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1567 - msle: 0.1567
Epoch 10/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1498 - msle: 0.1498
Epoch 11/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1473 - msle: 0.1473
Epoch 12/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1469 - msle: 0.1469
Epoch 13/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1469 - msle: 0.1469
Epoch 14/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1469 - msle: 0.1469
Epoch 15/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1470 - msle: 0.1470
Epoch 16/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1469 - msle: 0.1469
Epoch 17/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1469 - msle: 0.1469
Epoch 18/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1469 - msle: 0.1469
Epoch 19/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1469 - msle: 0.1469
Epoch 20/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1469 - msle: 0.1469
Epoch 21/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1468 - msle: 0.1468
Epoch 22/50
1172/1172 [==============================] - 4s 3ms/step - loss: 0.1469 - msle: 0.1469
Epoch 23/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1468 - msle: 0.1468
Epoch 24/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1468 - msle: 0.1468
Epoch 25/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1469 - msle: 0.1469
Epoch 26/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1468 - msle: 0.1468
Epoch 27/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1468 - msle: 0.1468
Epoch 28/50
1172/1172 [==============================] - 3s 2ms/step - loss: 0.1467 - msle: 0.1467
Epoch 29/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1468 - msle: 0.1468
Epoch 30/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1468 - msle: 0.1468
Epoch 31/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1467 - msle: 0.1467
Epoch 32/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1468 - msle: 0.1468
Epoch 33/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1468 - msle: 0.1468
Epoch 34/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1467 - msle: 0.1467
Epoch 35/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1467 - msle: 0.1467
Epoch 36/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1467 - msle: 0.1467
Epoch 37/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1468 - msle: 0.1468
Epoch 38/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1468 - msle: 0.1468
Epoch 39/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1467 - msle: 0.1467
Epoch 40/50
1172/1172 [==============================] - 11s 9ms/step - loss: 0.1467 - msle: 0.1467
Epoch 41/50
1172/1172 [==============================] - 10s 8ms/step - loss: 0.1467 - msle: 0.1467
Epoch 42/50
1172/1172 [==============================] - 11s 10ms/step - loss: 0.1467 - msle: 0.1467
Epoch 43/50
1172/1172 [==============================] - 11s 9ms/step - loss: 0.1466 - msle: 0.1466
Epoch 44/50
1172/1172 [==============================] - 9s 8ms/step - loss: 0.1467 - msle: 0.1467
Epoch 45/50
1172/1172 [==============================] - 8s 7ms/step - loss: 0.1467 - msle: 0.1467
Epoch 46/50
1172/1172 [==============================] - 5s 4ms/step - loss: 0.1466 - msle: 0.1466
Epoch 47/50
1172/1172 [==============================] - 4s 3ms/step - loss: 0.1467 - msle: 0.1467
Epoch 48/50
1172/1172 [==============================] - 5s 4ms/step - loss: 0.1466 - msle: 0.1466
Epoch 49/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1466 - msle: 0.1466
Epoch 50/50
1172/1172 [==============================] - 3s 3ms/step - loss: 0.1466 - msle: 0.1466

In [16]:
# Evaluate the model using the test data
model_loss, model_msle = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, MSLE: {model_msle}")

391/391 - 4s - loss: 0.1348 - msle: 0.1348 - 4s/epoch - 9ms/step
Loss: 0.13478031754493713, MSLE: 0.13478031754493713

In [24]:
# square feet, bedrooms, bathrooms, year built, rural, suburb, urban
value = nn.predict([[2700, 6, 4, 1999, 0, 0, 1]])
value[0][0]

1/1 [==============================] - 0s 182ms/step

298628.88

In [25]:
nn.save(filepath="models/basic_model.h5", save_format="h5")